.shop-item:not(.shop-item:nth-child(3n + 3)) {
  margin-right: 28.58px;
}

.shop-item {
  width: 256.42px;
  height: 324px;
  margin-bottom: 46.6px;
  padding-top: 9.4px;
  display: flex;
  flex-direction: column;

  border-radius: 0 0 20px 20px;

  box-shadow: 5px 50px 50px rgba(22, 92, 191, 0.1);
  img {
    width: 256.42px;
    height: 178.46px;
    border-radius: 20px 20px 0 0;
  }
  .description {
    height: 146.37px;
    padding-top: 26.37px;
    padding-left: 24px;
    padding-right: 22.36px;
    padding-bottom: 31px;
    border-radius: 0 0 20px 20px;
    background-color: #ffffff;

    p {
      height: 45px; //34px
      margin-bottom: 4px;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
    }
    p + span {
      font-size: 12px;
    }

    .price-favorites {
      display: flex;
      justify-content: space-between;

      .sizes {
        display: none;
      }
      .price {
        padding-top: 6px;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
      }
      .price + span {
        margin: auto 0;
        width: 25px;
        height: 21px;
        top: 20px;
        background-image: url(../../assets/main/herat-grey.png);
        background-repeat: no-repeat;
        background-size: contain;

        cursor: pointer;
      }
      .price + span:hover {
        background-image: url(../../assets/main/heart-red.png);
      }
    }
  }
}

.shop-item:hover {
  .description {
    position: relative;
    p + span {
      margin-bottom: 36.5px;
    }
    .price-favorites {
      .sizes {
        position: absolute;
        padding-left: 26px;
        padding-top: 10px;
        padding-bottom: 37px;
        margin-right: 103px;
        left: 0;
        bottom: -70px;

        display: flex;
        flex-wrap: wrap;
        width: 256.42px;
        background-color: rgb(255, 255, 255);
        border-radius: 0 0 20px 20px;
        .size {
          margin-right: 13px;
          margin-bottom: 7px;
          width: 63px;
          height: 30px;

          padding-left: 6px;
          padding-top: 2px;
          padding-bottom: 2px;
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          color: #002c6a;
          border-radius: 5px;
          cursor: pointer;

          &:hover {
            color: white;
            background-color: #002c6a;
          }
        }
      }
    }
  }
}
