.shop-item:not(.shop-item:nth-child(3n + 3)) {
  margin-right: 28.58px;
}

.shop-item {
  width: 256.42px;
  height: 324px;
  margin-bottom: 46.6px;
  padding-top: 9.4px;
  display: flex;
  flex-direction: column;

  border-radius: 0 0 20px 20px;

  box-shadow: 5px 50px 50px rgba(22, 92, 191, 0.1);
  img {
    width: 256.42px;
    height: 178.46px;
    border-radius: 20px 20px 0 0;
  }
  .description {
    height: 146.37px;
    padding-top: 26.37px;
    padding-left: 24px;
    padding-right: 22.36px;
    padding-bottom: 31px;
    border-radius: 0 0 20px 20px;
    background-color: #ffffff;

    p {
      height: 34px;
      margin-bottom: 4px;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
    }
    p + span {
      font-size: 12px;
    }

    .price-favorites {
      display: flex;
      justify-content: space-between;
      .price {
        padding-top: 6px;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
      }
      .price + span {
        width: 25px;
        height: 21px;
        background-image: url(../../assets/main/herat-grey.png);
        background-repeat: no-repeat;
        cursor: pointer;
      }
      .price + span:hover {
        background-image: url(../../assets/main/heart-red.png);
      }
    }
  }
}
