// X-Small devices (portrait phones, less than 576px)

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
// @media (min-width: 1400px) { ... }

// для смартфонов — 320 px, 480 px и выше;
//  для планшетов — 768 px и выше;
//  для нетбуков — 1024 px и выше; для мониторов — 1280 px, 1600 px, 1920 px и выше.

@media (max-width: 1300px) {
  .main-page {
    width: 900px;
    .big-reclam {
      margin: 0 auto 120px auto;
      .big-info {
        button {
          position: relative;
          width: 250px;
          padding: 20px;
          bottom: -100px;
          left: 65%;
        }
      }
      .big-shoes {
        width: 50%;
        height: 403px;

        img {
          width: 449px;
          height: 347px;
        }
      }
    }
    .bestsellers {
      width: 900px;
      margin: 0 auto;
      p:first-child {
        margin-bottom: 40px;
      }
      ul {
        justify-content: center;
        align-items: center;
        .best-item {
          width: 300px;
          margin-bottom: 20px;
        }
        .best-item:last-child {
          margin-right: 20px;
        }
      }
      .btn-left {
        left: 20px;
      }
      .btn-right {
        right: 40px;
      }
    }
  }
}
@media (max-width: 1130px) {
  .main-page {
    .big-reclam {
      width: 100%;

      .big-info {
        width: 300px;
        p:nth-of-type(1) {
          font-weight: 500;
          font-size: 40px;
        }
        p:nth-of-type(2) {
          font-size: 20px;
        }
        button {
          bottom: -50px;
        }
      }

      .big-shoes {
        width: 60%;
        height: 303px;
        img {
          width: 349px;
          height: 247px;
        }
      }
    }
    .bestsellers {
      width: 800px;
      margin: 0;

      ul {
        .best-item {
          padding: 20px;
          width: 35%;
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .main-page {
    .big-reclam {
      .big-info {
        width: 300px;
        p:nth-of-type(1) {
          font-weight: 400;
          font-size: 30px;
        }
        p:nth-of-type(2) {
          font-size: 20px;
        }
        button {
          bottom: -50px;
        }
      }
      .big-shoes {
        margin-left: -100px;
      }
    }
    .bestsellers {
      width: 700px;

      .btn-left {
        left: 10px;
      }
      .btn-right {
        right: 30px;
      }

      ul {
        margin: 0 auto;
        .best-item_description {
          .name {
            font-size: smaller;
          }
        }
      }
    }
  }
}
@media (max-width: 700px) {
  .main-page {
    .big-reclam {
      .big-info {
        p:nth-of-type(2) {
          color: rgb(251, 180, 180);
          font-weight: bold;
        }
      }

      .big-shoes {
        margin-left: -220px;
        z-index: -1;
      }
    }

    .bestsellers {
      ul {
        position: relative;
        // left: 30px;
        .best-item {
          padding: 5px;
          margin-bottom: 10px;
        }
      }
      .btn {
        width: 50px;
      }
      .btn-left {
        left: 0;
      }
      .btn-right {
        right: 25px;
      }
    }
  }
}

@media (max-width: 700px) {
  .main-page {
    .bestsellers {
      width: 500px;

      ul {
        .best-item {
          img {
            width: 150px;
            height: 100px;
          }
        }
      }
    }
  }
}

@media (max-width: 430px) {
  .main-page {
    // overflow: hidden;
    .big-reclam {
      .big-info {
        p:nth-of-type(1) {
          font-weight: bold;
          color: rgb(91, 109, 245);
        }
        button {
          left: 40px;
        }
      }
      .big-shoes {
        margin-left: -410px;
        z-index: -1;
      }
    }

    .bestsellers {
      width: 400px;
      .btn {
        width: 30px;
        height: 40px;

        font-size: 15px;
      }
      .btn-left {
        left: 5px;
      }
      .btn-right {
        right: 15px;
      }

      ul {
        .best-item {
          padding: 2px;
          img {
            width: 100px;
            height: 75px;
          }
          .best-item_description {
            .name {
              font-size: 12px;
            }
            p {
              font-size: 12px;
            }
            .price {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
