.main-page {
  width: 1154px;
  margin: 0 auto;
  padding-left: 22px;
  padding-right: 22px;

  .big-reclam {
    display: flex;
    position: relative;
    margin-bottom: 150px;

    .big-info {
      //   padding-top: 139px;
      width: 40%;
      p:nth-of-type(1) {
        padding-top: 80px;
        font-weight: 900;

        color: #002c6a;
        margin-bottom: 37px;
        font-size: 50px;
      }
      p:nth-of-type(2) {
        margin-bottom: 37px;
        font-size: 30px;
      }
      button {
        color: white;
        padding: 15px;
        font-size: 20px;
        width: 150px;
        border-radius: 20px;
        background-color: hotpink;
      }
      button:hover {
        background-color: rgb(215, 89, 152);
      }
    }
    .big-shoes {
      position: relative;
      right: -110px;
      bottom: 0;
      width: 60%;
      height: 503px;
      background: no-repeat url(../../../src/assets/main/polos.png);
      background-size: contain;
      background-position: bottom 0 left 0;

      img {
        position: absolute;
        bottom: 0;
        left: 0;
        content: url(../../../src/assets/main/11.png);
        width: 549px;
        height: 447px;
        cursor: pointer;
      }
    }
  }

  .bestsellers {
    position: relative;
    > p:nth-of-type(1) {
      margin-bottom: 91.6px;
      font-weight: 700;
      font-size: 48px;
      line-height: 59px;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      .shop-item {
        margin-right: 26.58px;
      }
      .shop-item:nth-child(4) {
        margin-right: 0;
      }
    }

    .prev-btn,
    .next-btn {
      position: absolute;

      width: 0;
      height: 0;
      border-top: 12.5px solid transparent;
      border-bottom: 12.5px solid transparent;
    }

    .prev-btn {
      border-right: 25px solid #b3c0d2;
      &:hover {
        border-right: 25px solid #9ba4b0;
      }
    }

    .next-btn {
      border-left: 25px solid #b3c0d2;
      &:hover {
        border-left: 25px solid #9ba4b0;
      }
    }

    .prev-btn {
      top: 50%;
      left: -62px;
    }
    .next-btn {
      top: 50%;
      right: -62px;
    }
  }
}

.crumbs {
  margin: 0 auto;
  width: 373px;
  margin-bottom: 66px;
  .crumb {
    width: 10px;
    height: 10px;
    background-color: grey;
    border-radius: 50px;
  }
  .crumb:hover {
    background-color: #8aa3de;
  }
  .crumb:not(:nth-child(5)) {
    margin-right: 80px;
  }
  .active-crumb {
    background-color: #8aa3de;
  }
}
