.profile-page {
  display: flex;
  padding-right: 100px;
  //   width: 77%;
  margin-top: 50px;
  background-color: rgb(171, 224, 255);

  .login-form {
    .login-input {
      background-color: rgb(167, 245, 206);
    }
  }
}
