@media (max-width: 1160px) {
  .shop-page {
    // width: 850px;
    width: 100%;

    margin: 0;

    .filter-block {
      width: 180px;
      margin-right: 0;
      form.season,
      form.category,
      form.brand {
        margin-bottom: 50px;
        input[type="checkbox"] {
          width: 20px;
          height: 20px;
          margin-right: 10px;
        }
      }
      label {
        font-size: 14px;
      }

      .sizes {
      }

      .price {
        .slider {
          width: 175px;
        }
        .thumb {
          width: 175px;
        }
      }

      .colors {
        margin-bottom: 50px;
        padding-left: 0px;
        padding-right: 0px;

        input[type="checkbox"] {
          width: 25px;
          height: 25px;

          &:checked {
            width: 39px;
            height: 39px;
          }
        }

        input[type="checkbox"]:nth-child(4n + 4) {
          margin-right: 0;
        }
      }

      button {
        width: 120px;
        height: 40px;
        padding: 5px 20px;
        font-size: 15px;
      }
    }
    .shop-items-block {
      width: 100%;
      .shop-items {
        .shop-item {
          margin-right: 0;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .shop-page {
    width: 710px;
  }
}

@media (max-width: 728px) {
  .shop-page {
    width: 100%;

    .filter-block {
      width: 140px;

      p {
        margin-bottom: 15px;
      }

      .sizes {
        margin-bottom: 30px;
      }

      .price {
        .slider {
          width: 140px;
        }
        .thumb {
          width: 140px;
        }
      }

      .colors {
        margin-bottom: 50px;
        padding-left: 10px;

        input[type="checkbox"]:not(:nth-child(3n + 3)) {
          margin-right: 15px;
        }

        input[type="checkbox"] {
          &:checked {
            right: 3px;
            top: -9px;

            width: 34px;
            height: 34px;
          }
          &:checked:not(:nth-child(3n + 3)) {
            margin-right: 6px;
          }
        }
      }
    }
    .shop-items-block {
      padding-left: 10px;

      .options {
        margin-bottom: 0;
        span {
          font-size: 14px;
          margin-right: 5px;
        }
        .options-left {
          select {
            padding: 5px;
            width: 100px;
            height: 30px;
          }
        }
        .options-right {
          button {
            width: 25px;
            height: 25px;
          }
          .button-active {
            color: white;
            background-color: #ff1818;
          }
          button:not(:nth-of-type(3)) {
            margin-right: 10px;
          }
        }
      }

      .shop-items {
        justify-content: space-between;
        flex-wrap: wrap;

        .shop-item {
          width: 150px;
          height: 216px;
          margin-bottom: 8.95px;
          img {
            padding-top: 6.05px;
            width: 150px;
            height: 120.92px;
          }
          .description {
            height: 101.12px;
            padding-top: 10.12px;
            padding-left: 10px;
            padding-right: 18.29px;
            padding-bottom: 10px;

            p {
              height: 31px; //34px
              margin-bottom: 5px;
              font-size: 10px;
              line-height: 12px;
            }
            p + span {
              font-size: 8px;
            }

            .price-favorites {
              .price {
                padding-top: 5px;
                font-size: 18px;
                line-height: 22px;
              }
              .price + span {
                width: 19.53px;
                height: 17.5px;
                top: 20px;
              }
            }
          }
        }
        // .shop-item:not(.shop-item:nth-child(3n + 3)) {
        //   margin-right: 20px !important;
        // }
      }
    }
    .pagination {
      width: 280px;
      margin: 0 auto;
    }
  }
}

@media (max-width: 480px) {
  .shop-page {
    .atom-button.blue.medium.undefined {
      display: none;
    }
    .filter-block {
      display: none;
    }
    .shop-items-block {
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;
      .options {
        display: none;
      }

      .options-mobile {
        display: flex;
        justify-content: space-between;
        width: 360px;
        span {
          font-size: 18px;
          font-weight: 700;
          color: #002c6a;
        }
        button {
          position: relative;
          right: 45px;
          width: 152px;
          height: 40px;
          padding: 11px 31px 12px 30px;
          border-radius: 70px;
          background-color: rgb(179, 205, 254);
          box-shadow: 5px 10px 30px rgba(22, 92, 191, 0.1);
        }
      }
    }
  }
}
