@media (max-width: 1300px) {
}

@media (max-width: 768px) {
}

@media (max-width: 360px) {
  .shop-page {
    .atom-button.blue.medium.undefined {
      display: none;
    }
    .filter-block {
      display: none;
    }
    .shop-items-block {
      width: 360px;
      padding-left: 20px;
      padding-right: 18px;
      .options {
        display: none;
      }

      .options-mobile {
        display: flex;
        justify-content: space-between;
        width: 360px;
        span {
          font-size: 18px;
          font-weight: 700;
        }
        button {
          position: relative;
          right: 45px;
          width: 152px;
          height: 40px;
          padding: 11px 31px 12px 30px;
          border-radius: 70px;
          background-color: rgb(179, 205, 254);
          box-shadow: 5px 10px 30px rgba(22, 92, 191, 0.1);
        }
      }
      .shop-items {
        justify-content: start;

        .shop-item {
          width: 150px;
          height: 216px;
          margin-bottom: 8.95px;
          img {
            padding-top: 6.05px;
            width: 150px;
            height: 120.92px;
          }
          .description {
            height: 101.12px;
            padding-top: 10.12px;
            padding-left: 10px;
            padding-right: 18.29px;
            padding-bottom: 10px;

            p {
              height: 31px; //34px
              margin-bottom: 5px;
              font-size: 10px;
              line-height: 12px;
            }
            p + span {
              font-size: 8px;
            }

            .price-favorites {
              .price {
                padding-top: 5px;
                font-size: 18px;
                line-height: 22px;
              }
              .price + span {
                width: 19.53px;
                height: 17.5px;
                top: 20px;

                // background-size: contain;
              }
            }
          }
        }
        .shop-item:nth-child(odd) {
          margin-right: 15px;
        }
        .shop-item:nth-child(even) {
          margin-right: 0;
        }
      }
    }
  }
}
