.app-header {
  margin-bottom: 25px;

  .promotion-login {
    padding: 7px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    background-color: #4a4949;

    .promotion {
      text-align: center;
      span {
        color: #f8534e;
      }
    }

    .login {
      position: relative;
      top: 0;
      left: 15%;
      margin: 0;
      color: rgb(255, 168, 252);
      font-weight: bold;

      span:nth-child(1) {
        margin-right: 30px;
        color: white;
        font-weight: 200;
        cursor: pointer;
        &:hover {
          color: rgb(41, 132, 189);
        }
      }
    }
  }

  .header {
    width: 1154px;
    margin: 0 auto;
    padding-left: 22px;
    padding-right: 22px;
    box-shadow: rgba(138, 180, 251, 0.45) 0px 25px 20px -20px;
    .main {
      display: flex;
      justify-content: space-between;
      margin-bottom: 44px;
      .contacts {
        font-size: 12px;

        li:nth-of-type(1):before {
          position: relative;
          top: 5px;
          right: 0px;
          content: url(../../assets/phone.png);
        }
        li:nth-of-type(2):before {
          position: relative;
          top: 5px;
          right: 0;
          content: url(../../assets/envelop.png);
        }
      }

      .logo {
        width: 95px;
        height: 95px;
        background: no-repeat url(../../assets/logo.png);
        background-size: 95px;
      }

      .profile-icons {
        display: flex;
        li {
          width: 30px;
          height: 30px;
          padding: 20px;
          border-radius: 20px;
          background-color: #8aa3de;
          cursor: pointer;

          &:hover {
            background-color: #748cc4;
          }
        }

        li:not(:last-child) {
          margin-right: 20px;
        }

        li a {
          display: block;
          position: relative;
          top: -10px;
          right: 10px;
          width: 20px;
          height: 20px;
          background-size: contain !important;
        }
        li:first-child a {
          right: 7px;
        }

        li:nth-of-type(1) {
          position: relative;
        }
        li:nth-of-type(1) a {
          position: relative;
          background: no-repeat url(../../assets/bag.png);
        }
        li:nth-of-type(1) span {
          position: absolute;
          top: -5px;
          right: -5px;
          width: 20px;
          height: 20px;
          color: white;
          text-align: center;
          border-radius: 20px;
          background-color: #ff0c0c;
        }
        li:nth-of-type(2) a {
          background: no-repeat url(../../assets/profile.png);
        }
        li:nth-of-type(3) a {
          background: no-repeat url(../../assets/heart.png);
        }
      }
    }
    .navigation {
      display: flex;
      justify-content: space-between;

      .pages {
        display: flex;
        width: 65%;
        justify-content: space-around;
        padding-bottom: 10px;
      }
      .pages li {
        font-weight: 700;
        font-size: 24px;
        cursor: pointer;
        a:active {
          color: #748cc4;
        }
        a:visited {
          color: inherit;
        }
      }
      .pages li.active a {
        color: rgb(67, 122, 243);
      }

      .pages li:hover {
        color: rgb(67, 122, 243);
      }

      .filter-search {
        display: flex;
        position: relative;
        width: 350px;
        input {
          padding: 0;

          height: 45px;
          text-indent: 20px;
          color: rgb(67, 122, 243);
          font-size: 18px;
          border-radius: 20px 0 0 20px;
          background: #e9f1fb;
        }
        .search-btn {
          height: 45px;
          background-image: url(../../assets/search.png);
          background-repeat: no-repeat;
          background-position: right 25px top 8px;
        }

        .menu-btn {
          display: none;
        }
      }
    }
  }
}
