@media (max-width: 1300px) {
  .app-footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 1000px) {
  .app-footer {
    .contacts-info {
      position: relative;
      .logo {
        position: absolute;
        top: -20px;
        left: -50px;
        width: 50px;
        height: 50px;
        background-size: 50px;
      }

      .social-media {
        margin-bottom: 50px;
      }
      .tel-mail {
        position: absolute;
        top: -20px;
        left: -40px;
      }
    }

    .shop-info {
      .profile {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .app-footer {
    padding-top: 20px;
    .contacts-info {
      .tel-mail {
        p {
          font-size: 12px;
        }
      }
    }

    .shop-info {
      .info-block {
        margin-top: 0;
        p {
          font-size: 12px;
        }
      }
    }
  }
}
@media (max-width: 630px) {
  .app-footer {
    padding-left: 60px;
    padding-right: 10px;
  }
}
@media (max-width: 430px) {
  .app-footer {
    padding-bottom: 0;
    padding-top: 30px;
    .contacts-info {
      .logo {
        margin-right: 20px;
      }
      .contacts {
        .social-media {
          display: flex;
          justify-content: start;
          padding-left: 25px;

          span {
            margin-right: 15px;
          }
        }
      }
    }
    .shop-info {
      .info-block {
        text-align: start;
      }
    }
  }
}
