// @import "./styles/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}
body {
  margin: 0;
  font-family: "Lora", serif;
  font-weight: 400; //4,6,7
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 1275px;
  margin: 0 auto;
}
button {
  cursor: pointer;
  border: none;
}

input {
  border: none;
}
